NODE_ENV=production
PORT=3000
APP_ORIGIN=https://me.joybeat.cn
DATA_DIR=/data
AUTH_MODE=account
ACCOUNT_CONFIG_FILE=/config/account.json
VAPID_FILE=/config/vapid.json
SERVER_EXPIRES_AT=2027-06-16T00:18:22+08:00
